@tailwind base;
@tailwind components;
@tailwind utilities;

.font-manrope {
  font-family: "Manrope", sans-serif;
}
.text-stroke {
  -webkit-text-stroke: 1px transparent;
  transition: -webkit-text-stroke 300ms ease-in-out;
}
.text-stroke:hover {
  -webkit-text-stroke-color: #494949;
}
.text-stroke:active {
  -webkit-text-stroke-color: #494949;
}
